
<div class="m-3 row">
        <div class="col-5 border-right">
            <app-add-trainer></app-add-trainer>
        </div>
    
        <div class="col border-left">
            <div class="card"  *ngFor="let item of trainerList; let i = index">
                <div class="card-body border-bottom">
                <div class="row">    
                    <div class="col-2">
                        <img src="{{item.trainerImage}}" alt="{{item.trainerName}}" style="width: 100%;">  
                    </div>
                    <div class="col">    
                        <h4 class="card-title">{{item.trainerName}}</h4>
                        <h5 class="card-subtitle text-muted mb-2">Email : {{item.trainerEmail}}</h5>
                        <h5 class="card-subtitle text-muted mb-2">Phone : {{item.trainerPhone}}</h5>
                        <h5 class="card-subtitle text-muted mb-2">Skype : {{item.trainerSkype}}</h5>
                    </div>  
                </div>  
                
                </div>
            </div>
        </div>   
    </div>     