<app-crm-header></app-crm-header>
 
<h3 class="pt-2 pl-3 mb-4 text-left text-black">Build Academic Properties</h3>

  <mat-tab-group>
    <mat-tab label="COURSE"> 
      <app-course-list></app-course-list>
    </mat-tab>

    <mat-tab label="COURSE SCHEDULE">
      <app-courseschedule-list></app-courseschedule-list>
    </mat-tab>

    <mat-tab label="TRAINER">
      <app-trainer-list></app-trainer-list>
    </mat-tab>

    <mat-tab label="TRAINING LOCATION">
       
      </mat-tab>
    
</mat-tab-group>