<div class="container">

        <app-leads-list></app-leads-list>

</div>




<!-- <div class="row justify-content-center">
<div class="card mt-sm-3 col-md-8">
        <h3>VIEW LEADS</h3> 
</div>
</div>

<div class="position-absolute container" style="left: 0; z-index:10">
<div class="row justify-content-center">
<div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <div class="list-group">

        <app-leads-list></app-leads-list>

        </div>
        </div>
</div>
</div> 
</div> -->