<h3 class="mt-0 p-2 text-white border-top border-dark w-100 bg-secondary">UPDATE LEAD</h3>

<div class="m-3 row">
  <div class="col-3">
   
    <p class="m-0">Client Status: <b>{{leadExample.clientStatus}}</b></p>
  
    <li>Registration Paid ? <b>{{leadExample.isRegistrationFeePaid}}</b></li>
   
    <hr>
    <p class="m-0 p-0 text-danger">{{leadExample.comments}}</p>
    <hr>

    <!-- <li class="m-0 p-0 text-success" *ngIf="isWPSent"><fa-icon icon="check"></fa-icon> Welcome Package Sent</li>
    <li class="m-0 p-0 text-success" *ngIf="isTISent"><fa-icon icon="check"></fa-icon> Trainer Info Sent</li>
    <li class="m-0 p-0 text-success" *ngIf="isPLSent"><fa-icon icon="check"></fa-icon> Portal Link Sent</li> -->
    
  <hr>
    <h3 class="text-dark">{{leadExample.firstName}} {{leadExample.lastName}}</h3>
    
    <p class="m-0"><small><fa-icon icon="envelope"></fa-icon></small>  {{leadExample.email}}</p>
    <p class="m-0"><small><fa-icon icon="phone"></fa-icon></small>  {{leadExample.phoneNumber}} {{leadExample.emergencyPhone}}</p>

  <hr>
    <p class="m-0"><b>Client Profile</b></p>
    <li>Lead Source : <b>{{leadExample.leadSource}}</b></li>
    <li>Desired Job : <b>{{leadExample.desiredJob}}</b></li>
    <li>Is Currently Employed? <b>{{leadExample.isCurrentlyEmployed}}</b></li>
    <li>Is IT Employed? <b>{{leadExample.isCurrentlyITEmployed}}</b></li>

  <hr>
    <p class="m-0"><b>Course</b></p>
    <li class="text-info">{{leadExample.course.id}}</li>
    <li class="text-info">{{leadExample.course.name}}</li>
    <li class="text-info">{{leadExample.course.name}}</li>
  
  <hr>  
    <p class="m-0"><b>Time Stamp</b></p>  
    <li>Date Created: {{leadExample.createdTime | date}}</li>
    <li>Date Modified: {{leadExample.modifiedTime | date}}</li> 
  </div>


  <div class="pl-4 col border-left border-secondary col-centered">

     
          <div class="row pb-2 pt-2">
              <div class="col text-danger">{{confirmationMessage}}</div>
          </div>

          <form [formGroup]="editCLientForm" (ngSubmit)="onUpdate(editCLientForm)" novalidate>
            <div *ngIf="validMessage != ''">
              <h3 class="has-info">{{validMessage}}</h3>
            </div>
           
            <div class="form-row mb-3">
                <button class="btn btn-outline-secondary text-center mr-3 my-auto"
                style="width:100px;" type="button"
                [routerLink]="['/dashboard/sales/leadslist']">CANCEL
                </button>
  
                <button class="btn btn-outline-primary text-center mr-3 my-auto"
                          style="width:100px;" type="submit"
                          [disabled]="!editCLientForm.valid"> UPDATE
                </button>

                <button class="btn btn-outline-success text-center mr-3 my-auto" 
                    style="width:140px" type="button" title="Send Portal Link"
                    (click)="onSendPortalLink()">SEND LINK
                </button>

                <button class="btn btn-outline-success text-center mr-3 my-auto" 
                  style="width:180px" type="button" title="Send Welcome Package"
                  (click)="onSendTemplate()">SEND PACKAGE
                </button>
              </div>

            <!-- LEAD STATUS -->
          <div class="row pb-3"> 
              <div class="col">

                <label>Lead Status</label>
                <!-- <div class="form-row mb-2">
                    <select class="form-control" formControlName="leadSource" required>
                        <option value="" disabled>Choose Lead Source</option>
                        <option *ngFor="let item of leadSourceList"
                        [selected]="leadExample.leadSource" [value]="item">{{item}}
                        </option>
                    </select>
                </div> -->
                <!-- <div class="form-check" *ngFor="let item of leadStatus; let i = index">
                    <input class="form-check-input" type="radio" name="leadStatus" id="ls{{i}}" 
                    value="{{item}}" formControlName="leadStatus">
                    <label class="form-check-label" for="ls{{i}}">{{item}}</label>
                </div> -->
              </div>

              <!-- <div class="col">
                  <label>Payment Status</label>
                  <div class="form-row mb-2">
                      <select class="form-control" formControlName="paymentPlan">
                          <option value="" disabled>Choose Payment Plan</option>
                          <option *ngFor="let item of paymentPlanList"
                          [selected]="leadExample.paymentPlan" [value]="item">{{item}}
                          </option>
                      </select>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="pas1"
                      [checked]="leadExample.planAgreement" value="true" formControlName="planAgreement">
                      <label class="form-check-label" for="pas1">
                        Plan Agreement Signed ?
                      </label>
                  </div>
                  <div class="form-check mb-2">
                      <input class="form-check-input" type="checkbox" id="rfp1"
                      [checked]="leadExample.isRegistrationFeePaid" value="true" formControlName="isRegistrationFeePaid">
                      <label class="form-check-label" for="rfp1">
                        Registration Fee Payed ?
                      </label>
                  </div>
                  <div class="form-row">
                      <input type="text" class="form-control" placeholder="Amount Paid"
                      formControlName="registrationFee" value="">
                  </div>                  
              </div> -->
          </div> 
          
           <!-- BASIC INFO -->

          <label class="mt-2" for="firstName">Full Name</label>    
          <div class="row mb-2">
              <div class="col">
                <input type="text" class="form-control" placeholder="First name" value=""
                formControlName="firstName">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Last name"
                formControlName="lastName">
              </div>
          </div>
  
          <label class="mt-2" for="firstName">Contacts</label>    
          <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Phone Number" 
                formControlName="phoneNumber">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Emergency Phone Number"
                formControlName="emergencyPhone">
              </div>
           </div>
         
          <div class="mt-3 form-group">
              <label>Comments:</label>
              <textarea placeholder="" class="form-control" formControlName="comments"></textarea>
          </div>

             <!-- EMPLOYMENT PROFILE -->
             <div class="row">
                <div class="form-group col-5">
                    <input type="text" class="form-control" placeholder="Desired Job"
                    formControlName="desiredJob" value="">
                </div> 

                <div class="form-group col">

                    <!-- <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="currentlyEmployed" id="ce1" 
                        [checked]="leadExample.currentlyEmployed" value="true" formControlName="currentlyEmployed">
                        <label class="form-check-label" for="ce1">Currently Working?</label>
                      </div> -->

                </div>

                <div class="form-group col">
                    
                      <!-- <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="currentlyITEmployed" id="cit1" 
                        [checked]="leadExample.currentlyITEmployed" value="true" formControlName="currentlyITEmployed">
                        <label class="form-check-label" for="cit1">Experienced IT?</label>
                      </div>  -->

                </div> 

            </div>
              <!-- ADDRESS -->
          <div class="card textcenter mt-3 mb-3" [ngClass]="{'add-address': showAddress}">
              <div class="address-addheading card-header text-white"
              (click)="toggleAddressDisplay()"><fa-icon icon="plus"></fa-icon> ADD MAILING ADDRESS
              </div><!-- card-header -->
              <div class="addressbody card-body">
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"
                  formControlName="mailingStreet">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" formControlName="mailingCity">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputCity">State</label>
                    <input type="text" class="form-control" id="inputCity" formControlName="mailingState">
                  </div>
                  
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip" formControlName="mailingZip">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputZip">Country</label>
                        <input type="text" class="form-control" id="inputZip" formControlName="mailingCountry">
                    </div>
                </div>
              </div>
  
            </div>
           <!-- jjjjj -->

           <h4 class="mt-4 border-top pt-4">Add Course</h4>
           <div class="row" *ngFor="let item of courseList; let i = index">
               <div class="form-check">
                   <input class="form-check-input" type="radio" name="course.id"
                   id="Course-{{i}}" 
                   value="{{item.id}}"
                   formControlName="course.id">
                   <label class="form-check-label" for="Course-{{i}}">
                       {{item.id}} - {{item.name}} - {{i}}
                   </label>
                 </div>
           </div>
          

           <h4 class="mt-4 border-top pt-4">Add Course Schedule</h4>
           <div class="row" *ngFor="let item of courseScheduleList; let i = index">
               <div class="form-check">
                   <input class="form-check-input" type="radio" name="courseSchedule.id"
                   id="CourseSchedule-{{i}}" 
                   value="{{item.id}}"
                   formControlName="courseSchedule.id">
                   <label class="form-check-label" for="CourseSchedule-{{i}}">
                       {{item.id}} - {{item.name}} - {{i}}
                   </label>
                 </div>
           </div>


           <h4 class="mt-4">Add Registration Fee</h4>
           <div class="row"  *ngFor="let item of registrationFeeList; let i = index">
               <div class="form-check">
                   <input class="form-check-input" type="radio" name="registrationFee.id" 
                   id="Registration-{{i}}" 
                   value="{{item.id}}"
                   formControlName="registrationFee.id">
                   <label class="form-check-label" for="Registration-{{i}}">
                       {{item.id}} - {{item.fee}} - {{i}}
                   </label>
                 </div>
           </div>
          


            <h4 class="mt-4 border-top pt-4">Add Discount</h4>
            <div class="row" *ngFor="let item of discountList; let i = index">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="discount.id"
                    id="Discount{{i}}" 
                    value="{{item.id}}"
                    formControlName="discount.id">
                    <label class="form-check-label" for="Discount{{i}}">
                        {{item.id}} - {{item.amount}} - {{i}}
                    </label>
                  </div>
            </div>
          


            <h4 class="mt-4 border-top pt-4">Add Payment Plan</h4>
            <div class="row" *ngFor="let item of paymentPlanList; let i = index">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="paymentPlan.id"
                    id="PaymentPlan{{i}}" 
                    value="{{item.id}}"
                    formControlName="paymentPlan.id">
                    <label class="form-check-label" for="PaymentPlan{{i}}">
                        {{item.id}} - {{item.name}} - {{i}}
                    </label>
                  </div>
            </div>
    
          
            <h4 class="mt-4 border-top pt-4">Add Trainer</h4>
            <div class="row" *ngFor="let item of trainerList; let i = index">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="trainer.id"
                    id="Trainer{{i}}" 
                    value="{{item.id}}"
                    formControlName="trainer.id">
                    <label class="form-check-label" for="Trainer{{i}}">
                        {{item.id}} - {{item.trainerName}} - {{i}}
                    </label>
                  </div>
            </div>

            <h4 class="mt-4 border-top pt-4">Add Training Location</h4>
            <div class="row" *ngFor="let item of trainingLocationList; let i = index">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="trainingLocation.id"
                    id="TrainingLocation-{{i}}" 
                    value="{{item.id}}"
                    formControlName="trainingLocation.id">
                    <label class="form-check-label" for="TrainingLocation-{{i}}">
                        {{item.id}} - {{item.name}} - {{i}}
                    </label>
                  </div>
            </div>
           
    
            <hr><p>Trainer</p>
            <div class="row" *ngFor="let item of trainerList; let i = index">
                <li>{{item.id}} - {{item.trainerName}}</li>
            </div>

            <hr><p>Training Location</p>
            <div class="row" *ngFor="let item of trainingLocationList; let i = index">
                <li>{{item.id}} - {{item.name}}</li>
            </div>


            <!-- ADD COURSE LIST -->
            <!-- <div class="card textcenter mt-3 mb-3" [ngClass]="{'add-courses': showCourse}"> -->
            
              <!-- <div class="courses-addheading card-header text-white"
              (click)="toggleCourseDisplay()"><fa-icon icon="plus"></fa-icon> ADD COURSE
              </div>
              <div class="coursebody card-body">
                  <div class="form-group">
                    <fieldset formGroupName="course">
                    <div class="form-check" *ngFor="let item of courseList; let i = index">
                      <input class="form-check-input" type="radio" name="id" id="c{{i}}"
                      [formControlName="id" value={{item.id}}>
                      <label class="form-check-label" for="c{{i}}"><p>{{item.name}}</p></label>
                    </div>
                  </fieldset>
                  </div>
                </div>
              </div> -->
            
            
        
        
          </form> 
  
        </div>    
  </div>