<main>

    <div class="dashboard row mt-4 ml-4 mr-4">
      
      <div class="col">
          <h3 class="pt-2 text-left text-black">Welcome {{username}}</h3>
          <mat-tab-group>
              <mat-tab label="Dashboard">
                  
                    
                  
              </mat-tab>
              <mat-tab label="Add Users"> Content 2 </mat-tab>
              <mat-tab label="Reset Password"> Content 3 </mat-tab>
              </mat-tab-group>
            
          
        
             

                <!-- <app-admin></app-admin>

                <app-client-list></app-client-list>

                <app-user></app-user>
                   -->
             
           
    
      
          <!-- <div *ngIf="authority === 'admin' || authority === 'audit' || authority === 'sales'"> 
            <app-sales></app-sales>
          </div> -->
         
        </div>     

      </div>  
</main>    

