main {
    font-family: gibbs, sans-serif;
}

h3 {font-weight: 200;}

li { list-style: none; font-size: 0.8em;}


/*  */
.card-header {
  width: 100%;
  padding: 2% 4%;
}

.add-courses .card-body {
  display: none;
}

.add-address .card-body {
  display: none;
}

.courses-addheading, .address-addheading {
  cursor: pointer;
  user-select: none;
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 20px;
}

.coursebody { background-color: rgba(127,195,191,0.1)}
.addressbody { background-color: rgba(234,160,167,0.1)}
.courses-addheading { background-color: #7fc3bf; }
.address-addheading { background-color: #db848c; }


.financeHeader { background-color:rgba(111,197,198,0.7); }
.academicsHeader { background-color: rgba(244,187,85,0.7); }

.mat-tab-label {
  min-width: 50px !important;
  padding: 5px 16px;
  background-color: transparent;
  color: rgb(29, 28, 28);
  font-weight: 100 !important;
  font-size: 1em !important;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 50px !important;
  padding: 5px 16px;
  background-color: transparent;
  color: #e45160;
  font-weight: 400;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green;
}

/* .appointment-list {
  font-size: 1.1em;
}

.appointment-list .pet-item {
  border-bottom: 1px dotted gray;
}

.appointment-list .pet-item:last-child {
  border-bottom: none;
}

.appointment-list .pet-name {
  font-weight: 400;
  color: #337ab7;
  font-size: 1em;
  line-height: 100%;
}

.appointment-list .label-item {
  font-weight: 400;
  color: #667b82;
  font-size: 1em;
}

.appointment-list .apt-date {
  font-style: italic;
  font-size: 0.8em;
}

.appointment-list .apt-notes {
  line-height: 100%;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #a9aeb2;
}

input::placeholder, label {
  font-size: 14px !important;
  color: #ababab;
  font-weight: 400;
}

.jobpost-section1 div:first-child {
  padding: 0 2%;
  margin: 0 auto;
  border-right: 1px solid #CDCDCD;
}

.jobpost-section1 div:nth-child(2) {
  padding: 0 5%;
  margin: 0 auto;
}

#postButton {
    width: 120px;
    transition: all 0.3s ease;
}

#postButton:hover {
    color: #CC3333 !important;
    background-color: #FFC107 !important;
    width: 130px;  
} */



/* VERY IMPORTANT STYLE */
  * {
    border-radius: 0 !important;
  }
  