


 
<h3 class="pt-2 text-left text-black">Welcome {{username}}</h3>

  <mat-tab-group>
    <mat-tab label="DASHBOARD">

    </mat-tab>
    <mat-tab label="ADD LEAD"> 
       <app-register></app-register>
    </mat-tab>

    <mat-tab label="USER GROUP">
     
    </mat-tab>

    <mat-tab label="COURSE"> 
      <app-course-list></app-course-list>
    </mat-tab>

    <mat-tab label="COURSE SCHEDULE">
      <app-courseschedule-list></app-courseschedule-list>
    </mat-tab>

    <mat-tab label="TRAINER">
      <app-trainer-list></app-trainer-list>
    </mat-tab>

      

   

    
</mat-tab-group>
          

 <!-- <div class="row p-4">
          <div class="col">
            <h3 classs="p-4">PAYMENTS COLLECTED FROM STUDENTS Q1</h3>
              <img class="align-self-center img-fluid" 
              style="width:80%; height: auto;"
              src="assets/chartpie.png" alt="Busy QA Logo">
          </div>
          <div class="col">
              <h3 classs="p-4">PAYMENTS COLLECTED FROM STUDENTS Q2</h3>
                <img class="align-self-center img-fluid" 
                style="width:80%; height: auto;"
                src="assets/chartpie.png" alt="Busy QA Logo">
            </div>
          
        </div>
        <hr>
        <div class="row p-4">
            <div class="col">
                <h3 classs="p-4">LEAD CONVERSION TO STUDENTS</h3>
                <img class="align-self-center img-fluid" 
                style="width:80%; height: auto;" 
                src="assets/chartbar.png" alt="Busy QA Logo">
            </div>
        </div>
        <hr> -->
        <!-- <div class="row p-4"> 
              <div class="col">
                <h3 classs="p-4">SALES ANALYTICS OF Q1</h3>
                  <img class="align-self-center img-fluid" 
                  style="width:80%; height: auto;" 
                  src="assets/chartline.png" alt="Busy QA Logo">
              </div>
            </div> -->

  
   

 