<div class="mb-4 row justify-content-center">
    <div class="card mt-sm-3 col-md-8">
        <div class="card-body">
        <h3 class="mb-0">SEARCH LEAD</h3>
        <div class="form-group">
            <div class="form-label" 
            *ngIf="query"><strong>For:</strong>
            {{ query }}
            </div>
            <input class="form-control mt-2" type="text"
            [(ngModel)]="query">
        </div><!-- form-group -->
        </div><!-- card-body -->
    </div><!-- card -->
</div><!-- row -->