<header class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
      <a id="siteLogo" class="navbar-brand text-warning" routerLink="/about">
        <img class="mr-2 rounded align-self-center img-fluid" 
        style="width:60px;" 
        src="assets/icons/busyqalogo.png" alt="Busy QA Logo">
        <span>{{title}}</span></a>
  
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"> 
         
          <li class="nav-item" *ngIf="authority === 'admin'">
              <a class="nav-link" routerLink="/dashboard/{{authority}}">DASHBOARD</a>
          </li>
          <li class="nav-item" *ngIf="authority === 'admin' || authority === 'pm' || authority === 'user'">
            <a class="nav-link" routerLink="/dashboard/sales/leadslist/Lead">LEADS</a>
          </li>
          <li class="nav-item" *ngIf="authority === 'admin' || authority === 'pm'">
              <a class="nav-link" routerLink="/dashboard/audit/studentslist">STUDENTS</a>
          </li>
          <li class="nav-item" *ngIf="authority === 'admin' || authority === 'pm'">
              <a class="nav-link" routerLink="/dashboard/admin">USERS</a>
          </li>
          <!-- TEST LINK HERE -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/sales/courselist">COURSE LIST</a>
        </li>


        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item" *ngIf="showHideitem" >
                <a class="nav-link" role="button" (click)="logout()">LOGOUT</a>
            </li>
    
        </ul>
      
      </div>
    </nav>
    </header>
    
    
    