header {
    font-family: gibbs, sans-serif;
}

#siteLogo {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 1.5em;
    letter-spacing: 0.03em;
    font-weight: 400;
    padding: 10px 0;
    display: block;
}

li > a {
    display: block;
    font-weight: 200;
    font-size: 0.9em;
    padding: 1px 0 1px 5px;
    margin: 1px 0;
    transition: all ease-in 0.3s;
    color: #ffffff !important;
    
}

li > a:hover {
    
    font-weight: 400;
    color: #130000 !important;

}
