

<div class="col col-centered">
    <form [formGroup]="createTrainingLocationForm" (ngSubmit)="onSubmit(createTrainingLocationForm)">
        <div class="row">
            <div *ngIf="validMessage != ''">
              <h3 class="has-info">{{validMessage}}</h3>
            </div>
        </div>

                  <!-- HEADER BUTTONS -->
        <div class="row mt-4">
            <div class="col pb-5">
                <button class="btn btn-outline-success text-center mr-3 my-auto" 
                        style="width:240px" value="Post" type="submit">ADD TRAINING LOCATION
                </button>
            </div>
           
        </div>
       
        <div class="row">  
            <div class="col">
                    <!-- BASIC INFO -->
                    <!-- <label class="mt-2" for="name">Course Name</label>     -->


                    <!-- <div class="col-12 mb-2">
                        
                        <h5 class="border pl-2 pr-2 pt-1 pb-1 text-center mr-3 my-auto" 
                        (click)="onClick()">Is Online</h5>
                    </div> -->
                    
                    <div class="col-12 mb-2">
                        <input class="form-check-input" type="checkbox" id="pas1"
                        value="true" formControlName="isOnLine">
                        <label for="pas1" (click)="onClick()">Is Online</label>
                    </div>  

              
                    <div class="mt-3 pb-5 form-row">

                      <div *ngIf="!isOnlineYes" class="col-12 mb-2">
                          <input type="text" class="form-control" placeholder="Location Name"
                          formControlName="name" value="">

    
                      </div>

                    

                      <div *ngIf="!isOnlineYes" class="col-12 mb-2">
                          <input type="text" class="form-control" placeholder="Street"
                        formControlName="street" value="">
                      </div>


                      <div *ngIf="!isOnlineYes" class="col-12 mb-2">
                          <input type="text" class="form-control" placeholder="City"
                        formControlName="city" value="">
                      </div>

                      <div *ngIf="!isOnlineYes" class="col-12 mb-2">
                          <input type="text" class="form-control" placeholder="State"
                        formControlName="state" value="">
                      </div>

                      <div *ngIf="!isOnlineYes" class="col-12 mb-2">
                          <input type="text" class="form-control" placeholder="Zip Code"
                       formControlName="zip" value="">
                      </div>

                        
                    
                            
                    </div>
                   
                </div>
            </div>
            
  
          
    
            </form> 
        
          
        </div>