
<h3 class="mt-0 p-2 text-white border-top border-dark w-100 bg-secondary">CREATE LEAD</h3>
<div class="m-3 row">
    <div class="col-sm-1 col-md-2">
    </div>
    <div class="col col-centered">
            <form [formGroup]="createClientForm" (ngSubmit)="onSubmit(createClientForm)">
              <div *ngIf="validMessage != ''">
                <h3 class="has-info">{{validMessage}}</h3>
              </div>
    
              <!-- HEADER BUTTONS -->
              <div class="form-row mb-4 mt-3">
                <div class="col-lg-6 col-md-4"></div>
                <div class="col">
                  <button class="btn btn-outline-secondary text-center mr-3 my-auto"
                  style="width:100px;" type="button"
                  [routerLink]="['/dashboard/sales']">CANCEL
                  </button>
    
                  <button class="btn btn-outline-success text-center mr-3 my-auto" 
                          style="width:140px" value="Post" type="submit">SAVE TO LEAD
                  </button>
                  </div>
                </div>
               
              <!-- LEAD STATUS -->
            <div class="form-row mb-2 mt-2" *ngFor="let item of leadStatus; let i = index">
                <div class="form-check form-check-inline col-2">
                    <input class="form-check-input" type="radio" name="leadStatus" id="ls{{i}}" 
                    value="{{item}}" formControlName="leadStatus">
                    <label class="form-check-label" for="ls{{i}}"><small>{{item}}</small></label>
                </div>
            </div>

              <!-- COURSE LIST -->
          <div class="card textcenter mt-3 mb-3" [ngClass]="{'add-courses': showCourse}">
            
              <div class="courses-addheading card-header text-white"
              (click)="toggleCourseDisplay()"><fa-icon icon="plus"></fa-icon> ADD COURSE
              </div>
              <div class="coursebody card-body">
              <fieldset formGroupName="course">
                <div class="form-group">
                  <div class="form-check" *ngFor="let item of courseList; let i = index">
                    <input class="form-check-input" type="radio" id="course{{i}}" 
                    formControlName="id" value="{{item.id}}">
                    <label class="form-check-label" for="course{{i}}"><p>{{item.name}}</p></label>
                  </div>
                </div>
              </fieldset>
              </div>
            </div>
            
             <!-- BASIC INFO -->
            <label class="mt-2" for="firstName">Full Name</label>    
            <div class="row mb-2">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name"
                  formControlName="firstName" value="">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name"
                  formControlName="lastName" value="">
                </div>
            </div>
    
            <label class="mt-2" for="firstName">Contacts</label>    
            <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Email Address"
                  formControlName="email" value="">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Phone Number"
                  formControlName="phone" value="">
                </div>
             </div>
           
            <div class="mt-3 form-group">
                <label>Comments:</label>
                <textarea placeholder="" class="form-control" formControlName="comments"></textarea>
            </div>
  
            <!-- LEAD PROFILE -->
             <div class="row">
                  <div class="form-group col-md-6">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="payment1"
                          formControlName="registrationFeePaid" value="true">
                          <label class="form-check-label" for="payment1">
                            Registration Fee Payed ?
                          </label>
                        </div>
                        <div class="form-check mb-2">
                          <input class="form-check-input" type="checkbox" id="payment2"
                          formControlName="planAgreement" value="true"
                          >
                          <label class="form-check-label" for="payment2">
                            Plan Agreement Signed ?
                          </label>
                        </div>
                        <label for="exampleFormControlSelect1">Choose Payment Plan</label>
                        <select class="form-control">
                            <option value="">Select</option>
                            <option *ngFor="let item of paymentPlanList"
                            formControlName="paymentPlan" value="item">{{item}}
                            </option>
                        </select>
                  </div>
                  <div class="form-group col-md-6">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="cEmployed"
                          formControlName="currentlyEmployed" value="true">
                          <label class="form-check-label" for="cEmployed">
                            Currently Employed ?
                          </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="cITEmployed"
                            formControlName="currentlyITEmployed" value="true">
                            <label class="form-check-label" for="cITEmployed">
                              Working in IT ?
                            </label>
                        </div> 
                        <label for="exampleFormControlSelect1">Choose Lead Source</label>
                        <select class="form-control">
                            <option value="">Select</option>
                            <option *ngFor="let item of leadSourceList"
                            formControlName="leadSource" value="{{item}}">
                                    {{item}}
                            </option>
                        </select>
                  </div>
                    
             </div>
             
         
          
            <!-- ADDRESS -->
  
            <div class="card textcenter mt-3 mb-3" [ngClass]="{'add-address': showAddress}">
              <div class="address-addheading card-header text-white"
              (click)="toggleAddressDisplay()"><fa-icon icon="plus"></fa-icon> ADD MAILING ADDRESS
              </div><!-- card-header -->
              <div class="addressbody card-body">
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputCity">State</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputZip">Country</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
              </div>
  
            </div>
            </form> 
    
          </div>   
          
          <div class="col-sm-1 col-md-2">
     
            </div>
    </div>